div {
  background-color: #2B5278;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

canvas {
  height: 100%;
  position: absolute;
  background-color: transparent;
  image-rendering: pixelated;
}

p {
  position: absolute;
  top: 0;
  left: -60px;
  height: 20px;
  color: white;
  font-family: 'Concert One', cursive;
}
