<div class="col-12 row align-content-around align-items-center landingPage m-0">
  <div class="row justify-content-around col-12"><h2>Pixel Drawing is a free online editor for animated sprites & pixel art</h2></div>
  <div class="functional row justify-content-around col-12 p-2">
    <div class="p-2 col-2 row align-content-between">
      <h3 class="col-12">Wide tooling</h3>
      <img src="assets/instruments.png" alt="">
    </div>
    <div class="p-2 col-2 row align-content-between p-0">
      <h3 class="col-12">Frame set</h3>
      <img src="assets/frames.png" alt="">
      </div>
    <div class="p-2 col-2 row align-content-between">
      <h3 class="col-12">Drawing canvas</h3>
      <img src="assets/canvas.png" alt="">
    </div>
    <div class="p-2 col-2 row align-content-between">
      <h3 class="col-12">Preview animation</h3>
      <img src="assets/review.gif" alt="">
    </div>
  </div>
  <div class="row justify-content-around col-12" style="height: 10%">
    <button class="col-4 btn btn-warning create" (click)="openCanvas()">Create sprite</button>
  </div>
  <div class="example column row justify-content-center col-12">
    <h2 class="col-12">Example sprites</h2>
    <div class="col-12 row justify-content-center">
      <img src="assets/example-1.gif" alt="" height="100px">
      <img src="assets/example-2.gif" alt="" height="100px">
      <img src="assets/example-3.gif" alt="" height="100px">
      <img src="assets/example-4.gif" alt="" height="100px">
      <img src="assets/example-5.gif" alt="" height="100px">
    </div>
  </div>
  <div class="col-12 row justify-content-center">
      <a href="https://github.com/PraKDown" target="gitgub/PraKDown"><button class="btn btn-secondary author">Author's github account</button></a>
  </div>
</div>
