@import './reset.css';

body {
  background-color: #17212B;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #4388B9;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #4388B9;
}



html, body { height: 100%; overflow: hidden; }
body { margin: 0;}
